<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録完了 - Gourmet Life</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/account.css">
</head>

<body>
    <div class="wrapper">
        <%- include('partials/header.ejs', { currentPath: currentPath }) %>

        <main>
            <h1 class="main-title">登録完了</h1>
            <p>ユーザー <strong>
                    <%= username %>
                </strong> が正常に登録されました。</p>
            <a href="/login">ログインページへ</a>
        </main>

        <%- include('../views/partials/footer.ejs') %>
    </div>
</body>

</html>